body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1280px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
}

.header img {
    height: 60px;
    float: left;
    margin-right: 30px;
}

.header h1 {
    margin: 10px 0 0 0;
    font-size: 24px;
    color: #0056a1;
    float: left;
}

.container {
    width: 1280px;
    background: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

h3 {
    color: #0056a1;
    margin-bottom: 10px;
}

.menu,
.cart,
.timetable-block {
    margin-bottom: 20px;
}

select,
button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #87CEEB;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #87CEEB;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #87CEEB;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.cart-timetable-container {
    display: flex;
    justify-content: space-between;
}

.cart-container {
    float: left;
    font-size: 16px;
}

.timetable-block {
    width: 400px;
    float: right;
}

.select-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    margin-left: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 5px;
}

.left-menu {
    width: 800px;
    float: left;
}

.cart-container>button {
    margin-left: 0px;
}

.menu,
.test {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.timetable>thead>tr>th:first-child {
    width: 50px;
}

.timetable>thead>tr>th,
.timetable>tbody>tr>td {
    width: 50px;
}

button {
    margin-left: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #262626;
    padding: 5px 10px;
    height: 36px;
    line-height: 26px;
}

.time {
    width: 60px;
}

.val {
    width: 30px;
}

.del {
    width: 40px;
}

.name {
    width: 45px;
}

#cartTableBody>tr>td>a {
    padding: 5px;
    text-decoration-line: none;
    color: #0056a1;
}

#cartTableBody>tr>td {
    padding: 5px;
}

#cartTableBody>tr>td:last-child {
    padding: 0px;
}

#cartTableBody>tr>td>button {
    border: none;
    margin: 3px;
    background-color: #f2f2f2;
    border: 1px solid;
}