* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    padding: 0px;
    margin: 0px;
}

.timetable-block .liberal-arts {
    float: left;
}

.timetable,
#cartTable {
    border-collapse: collapse;
    border: 0px solid gray;
}

.timetable>tbody>tr>th:first-child {
    width: 50px;
}

.timetable>tbody>tr>td {
    width: 150px;
    height: 30px;
}

.liberal-arts>h4,
.liberal-arts>ul {
    margin: 0px;
}