* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 0px;
    padding: 0px;
}

.logo {
    width: 1280px;
    height: 68px;
}

.test {
    margin-bottom: 34px;
}

.test>h3 {
    margin-top: 34px;
}

.container {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
}

.timetable-block {
    width: 600px;
    height: 780px;
    float: right;
}

.menu {
    width: 600px;
    height: 820px;
    float: left;
}

.liberal-arts {
    float: left;
}

.timetable,
#cartTable {
    border-collapse: collapse;
    border: 0px solid gray;
    padding: 3px;
    height: 100%;
}

.timetable>tbody>tr>th:first-child {
    width: 50px;
}

.timetable>tbody>tr>td {
    width: 150px;
}

.liberal-arts>ul {
    margin: 0px;
}